.homepage--header-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage--video-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: end;

}

.homepage--video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.homepage--header-content {

}