
.base-width {
    width: 100% !important;
}

.section {
    min-height: 100vh;
    width: 100%;
    padding-top: 72px !important;
}

.card--image-container {
    width: 100%;
}

.card--image-container img {
    width: 100%;
}

.vh100 {
    height: 100vh;
    padding-top: 72px;
}


@keyframes loading {
    0% {
        background-position: 150% 0;
    }

    100% {
        background-position: -150% 0;
    }
}

@-moz-keyframes loading {
    0% {
        background-position: 150% 0;
    }

    100% {
        background-position: -150% 0;
    }
}

@-webkit-keyframes loading {
    0% {
        background-position: 150% 0;
    }

    100% {
        background-position: -150% 0;
    }
}

@-ms-keyframes loading {
    0% {
        background-position: 150% 0;
    }

    100% {
        background-position: -150% 0;
    }
}

@-o-keyframes loading {
    0% {
        background-position: 150% 0;
    }

    100% {
        background-position: -150% 0;
    }
}

.lazy-loading {
    width: 100%;
    height: 100%;
    z-index: 4;
    background: linear-gradient(to right, #ffffff, #fdfdff, #fafcff, #f6fbff, #f2faff, #f2faff, #f2faff, #f2faff, #f6fbff, #fafcff, #fdfdff, #ffffff);
    background-size: 150% 100%;
    animation: loading 1s linear infinite;
}

.image-container {
    height: 350px;
    overflow: hidden;
}

@media only screen and (min-width: 1180px)
{
    .base-width {
        width: 1180px !important;
    }
}
