
  
  .sidebar {
    height: 100vh;
    padding-top: 156px;
    position: fixed;
    width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .line {
    border: black solid .5px;
    transition: height 0.3s ease, top 0.3s ease;
  }

  .section-name {
    rotate: -90deg;
  }